footer {
    padding-left: 30px;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: greenyellow;
}

main {
    padding: 16px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: orange;
}


img {
    height: 200px;
}

.recipe-list-page {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, 1fr);
   column-gap: 2rem;
}

.test-grid-class {
    grid-column-start: 2;

}

a {
    text-decoration: None;
}

nav > a {
    color: white;
}

h3 > a {
    color: aqua;
}

.table_colors tr:nth-child(2n + 3) {
    background-color: lightgray;

}
